Repository shermendev/basic-cardlist: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run fix:obj, stylelint, prettier --write, eslint --fix --max-warnings=0 --ignore-pattern '!.eslintrc.js', yarn run sass-lint:fix, yarn run sass-lint

remove tests from pipeline
  .gitlab-ci.yml
Due: none

Fix routes
  src/App.js
  src/utils/random.js
Due: yarn run fix:obj, prettier --write, eslint --fix --max-warnings=0 --ignore-pattern '!.eslintrc.js'

Fix Home route
  src/components/Header/Header.js
Due: yarn run fix:obj, prettier --write, eslint --fix --max-warnings=0 --ignore-pattern '!.eslintrc.js'

Fix Redirect route
  src/pages/NotFound/CountDownRenderer/CountDownRenderer.js
Due: yarn run fix:obj, prettier --write, eslint --fix --max-warnings=0 --ignore-pattern '!.eslintrc.js'

Add a more detailed description to README
  README.md
Due: none

Update packages
  package.json
  yarn.lock
Due: none

Add more info to README
  README.md
Due: none

Add dynamic page title
  public/index.html
  src/App.js
  src/components/Head/Head.js
Due: yarn run fix:obj, prettier --write, eslint --fix --max-warnings=0 --ignore-pattern '!.eslintrc.js'

Update dependencies
  package.json
  yarn.lock
Due: none

Add link-module-alias to manage aliases
  .eslintrc.js
  config/aliases.js
  config/craco.config.js
  jsconfig.json
  package.json
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0 --ignore-pattern '!.eslintrc.js'

Path conditions:
  yarn run fix:obj: any of: src/**/*.js
  stylelint: any of: src/**/styled.js
  prettier --write: any of: *.js
  eslint --fix --max-warnings=0 --ignore-pattern '!.eslintrc.js': any of: *.js
  yarn run sass-lint:fix: any of: *.sass
  yarn run sass-lint: any of: *.sass
